<section>
    <div>
        <h3>Description</h3>
        <blockquote>{{description}}</blockquote>
    </div>
    <div>
        <h3>Specs</h3>
        <ul class="list-unstyled">
            <li>
                <strong>Shine</strong>
                : {{shine}}</li>
            <li>
                <strong>Faces</strong>
                : {{faces}}</li>
            <li>
                <strong>Rarity</strong>
                : {{rarity}}</li>
            <li>
                <strong>Color</strong>
                : {{color}}</li>
        </ul>
    </div>
</section>